<!-- Регистрация -->
{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="login-container">
    <h2 style="text-align: center;">Регистрация</h2>
    {% if form.errors %}
    <div class="form-errors">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="login-form-group" id="{{ field.name }}_group">
            <label for="{{ field.id_for_label }}">
                {{ field.label_tag }}
            </label>
            {{ field|add_class:'form-control' }}
        </div>
        {% endfor %}
        <button type="submit" class="button4">Зарегистрироваться</button>
    </form>
    <div class="text-center mt-4">
        Уже есть аккаунт? Войдите <a class="page-animation" href="{% url 'login' %}">здесь</a>.
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const accountTypeField = document.getElementById("id_account_type");
        const firstNameGroup = document.getElementById("first_name_group");
        const lastNameGroup = document.getElementById("last_name_group");
        const organizationNameGroup = document.getElementById("organization_name_group");

        function toggleFields() {
            if (accountTypeField.value === "organizer") {
                firstNameGroup.style.display = "none";
                lastNameGroup.style.display = "none";
                organizationNameGroup.style.display = "block";
            } else {
                firstNameGroup.style.display = "block";
                lastNameGroup.style.display = "block";
                organizationNameGroup.style.display = "none";
            }
        }

        accountTypeField.addEventListener("change", toggleFields);
        toggleFields();
    });
</script>
{% endblock %}
